@font-face {
  font-family: 'Lato';
  src: local('Lato-Bold'),
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Medium'),
    url('../fonts/Lato-Medium.woff2') format('woff2'),
    url('../fonts/Lato-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Semibold'),
    url('../fonts/Lato-Semibold.woff2') format('woff2'),
    url('../fonts/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Regular'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato-Black'),
    url('../fonts/Lato-Black.woff2') format('woff2'),
    url('../fonts/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Philosopher';
  src: local('Philosopher-Bold'),
    url('../fonts/Philosopher-Bold.woff2') format('woff2'),
    url('../fonts/Philosopher-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Philosopher';
  src: local('Philosopher-Regular'),
    url('../fonts/Philosopher-Regular.woff2') format('woff2'),
    url('../fonts/Philosopher-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato';
  background: #fff;
  line-height: 0;
}

p,
a,
span,
h2,
h3,
address,
h1 {
  line-height: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
}

/* Helpeers */

:root {
  --P: 'Philosopher';
  --black: #000;
  --white: #fff;
  --white06: rgba(255, 255, 255, 0.6);
  --invis: rgba(0, 0, 0, 0);
  --white-gray: #f6f5f7;
  --white-gray2: #c3c5ce;
  --white-gray3: #e0e2ea;
  --white-gray4: #B7B4B4;
  --white-pink: #fffafa;
  --gray-white: #a9a9b6;
  --gray-white2: #f2f2f2;
  --gray-white3: #81888f;
  --black-gray: #333;
  --black-gray2: #101010;
  --black-gray3: #2f2828;
  --black-gray4: #242424;
  --black-gray5: #989898;
  --red-pink: #ed2353;
  --red-pink2: rgb(234, 136, 159);
  --red-pink3: #c60d38;
  --red-pink4: #b86074;
  --pink: #f5c7c9;
  --pink2: #ef3e68;
  --pink3: rgba(239, 62, 104, 0.55);
}

.header__container,
.discount-wrap,
.flowers-card__container,
.footer__container,
.catalog__container,
.section-slider__conteiner,
.section-home__container,
.section-hit__container,
.delivery__container,
.main__section-breadcrumb {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1380px;
}

/* HEADER */

/* header__top */

.logo {
  border: none;
  outline: 1px solid var(--invis);
  transition: outline 0.3s ease-in-out;
}

.logo:focus {
  outline: 1px solid var(--red-pink);
}

.header__container {
  padding-bottom: 40px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 16px 0;
  margin-bottom: 18.5px;
  border-bottom: 6px solid var(--gray-white2);
}

.contacts {
  display: flex;
  gap: 30px;
  padding: 15px 0 0;
}

.btn-div {
  display: flex;
  gap: 20px;
  padding-left: 245px;
}

.contacts__city {
  position: relative;
  margin: 0;
  padding-left: 19px;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

.contacts__city::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 10.7px;
  height: 16px;
  background-image: url(../img/CombinedShape.svg);
  background-repeat: no-repeat;
}

.time-work {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.time-work__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-white);
}

.time-work__time {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-gray);
}

.search {
  display: inline-block;
  width: 24px;
  height: 24px;
  outline: 1px solid var(--invis);
  outline-offset: 5px;
  fill: var(--black);
  transition: outline 0.3s ease-in-out;
}

.search__svg {
  fill: inherit;
  transition: fill 0.3s ease-in-out;
}

.search:focus {
  outline-color: var(--red-pink);
}

.search:hover {
  fill: var(--red-pink);
}

.search:active {
  fill: var(--pink3);
  outline-color: var(--pink3);
}

.basket {
  display: inline-block;
  width: 24px;
  height: 24px;
  outline: 1px solid var(--invis);
  outline-offset: 5px;
  fill: var(--black);
  transition: outline 0.3s ease-in-out;
}

.basket__svg {
  fill: inherit;
  transition: fill 0.3s ease-in-out;
}

.basket:focus {
  outline-color: var(--red-pink);
}

.basket:hover {
  fill: var(--red-pink);
}

.basket:active {
  fill: var(--pink3);
  outline-color: var(--pink3);
}

/* header-nav */

.nav__list {
  display: flex;
  justify-content: center;
  gap: 67px;
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style: none;
}

.nav__item__text {
  position: relative;
  margin: 0;
  outline: 1px solid var(--invis);
  outline-offset: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-gray2);
  transition: outline 0.3s ease-in-out;
}

.nav__item__text::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: -4px;
  right: -4px;
  outline: 1.2px solid var(--invis);
  transition: outline 0.3s ease-in-out;
}

.nav__item__text:focus {
  outline-color: var(--red-pink);
}

.nav__item__text:hover::after {
  outline-color: var(--red-pink);
}

.nav__item__text:active {
  outline-color: var(--pink3);
  color: var(--pink3);
}

.nav__item__text:active::after {
  outline: 1px solid var(--pink3);
}

.nav__item .flower {
  font-weight: 600;
  color: var(--red-pink);
}

.header {
  background-image: url(../img/bg-section.png);
  background-position: bottom -1224px center;
}

/* Section home */

.main__section-home {
  background-image: url(../img/bg-section.png);
  background-position: center;
  padding-bottom: 90px;
}

.card-1__title,
.card-2__title,
.card-3__title,
.card-4__title,
.card-5__title,
.card-6__title {
  margin: 0;
  font-family: 'Philosopher';
  font-weight: 700;
}

.card-1__title {
  margin: 0 0 32px;
  max-width: 555px;
  font-size: 55px;
  color: var(--black-gray3);
}

.card-2__title {
  position: absolute;
  bottom: 29px;
  left: 46px;
  font-size: 38px;
}

.card-3__title,
.card-4__title,
.card-5__title,
.card-6__title {
  position: absolute;
  bottom: 27px;
  left: 26px;
  font-size: 27px;
}

.card-1__descr {
  margin: 0 0 24px;
  max-width: 350px;
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
}

.red-btn {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 13px 53.5px;
  outline: 2px solid var(--invis);
  border: none;
  border-radius: 64px;
  color: var(--white);
  background-color: var(--red-pink);
  fill: var(--white);
  cursor: pointer;
  transition: outline 0.3s ease-in-out,
    background-color 0.2s ease-in-out,
    color 0.1s ease-in-out,
    fill 0.1s ease-in-out;
}

.red-btn-text {
  position: relative;
  margin: 0;
  padding: 0 8px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
}

.arrow {
  fill: inherit;
}

.red-btn:focus {
  outline-color: var(--black-gray);
}

.red-btn:hover {
  background-color: var(--red-pink2);
}

.red-btn:active {
  color: var(--pink2);
  fill: var(--pink2);
  background-color: var(--pink);
  outline: none;
}

.card-1,
.card-2,
.card-3-6 {
  padding: 20px;
  background-color: var(--white-gray);
  background-image: url(../img/cloud.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-1 {
  position: relative;
  border-radius: 20px;
  max-height: 450px;
  overflow: hidden;
}

.card-1__bgimg-1 {
  position: absolute;
  right: -102px;
  bottom: -65px;
  top: -20px;
  width: 475px;
  background-image: url(../img/bg-1.png);
  background-repeat: no-repeat;
  background-position: right center;
}


.card-1__bgimg-2 {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  width: 727px;
  background-image: url(../img/bg-2.png);
  z-index: -1;
}


.card-3-6 {
  padding: 15.96px;
  width: calc((100% - 32px) / 2);
  text-align: center;
  max-height: 289.49px;
}

.section-home__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.div-card-2-6 {
  display: flex;
  gap: 32px;
}

.div-card-3-6 {
  display: flex;
  flex-wrap: wrap;
  gap: 16.51px 32px;
}

.card-2 {
  width: 100%;
  max-width: 407px;
  min-height: 595px;
  text-align: center;
}

.card-1__div,
.card-2__div,
.card-3__div,
.card-4__div,
.card-5__div,
.card-6__div {
  position: relative;
  height: 100%;
  outline: 6px solid rgba(255, 255, 255, 0.7);
}

.card-1__div {
  padding: 101px 0 6px 99px;
  min-height: 410px;
  z-index: 1;
}

.card-2__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 555px;
}

.card-3__div,
.card-4__div,
.card-5__div,
.card-6__div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 46px;
}

.card-2__img {
  max-width: 288px;
  max-height: 288px;
}

.card-3__img {
  max-height: 184px;
}

.card-4__img {
  max-height: 176px;
}

.card-5__img {
  max-height: 179px;
}

.card-6__img {
  max-height: 139px;
}

.card-1__btn {
  display: inline-flex;
}

.div-card {
  max-width: 100%;
  height: 100%;
}

.card-2__title,
.card-3__title,
.card-4__title,
.card-5__title,
.card-6__title {
  color: var(--black);
  transition: color 0.3s ease-in-out;
}

.div-card-2-6 a:active .card-2__title {
  color: var(--red-pink);
}

.div-card-2-6 a:active .card-3__title {
  color: var(--red-pink);
}

.div-card-2-6 a:active .card-4__title {
  color: var(--red-pink);
}

.div-card-2-6 a:active .card-5__title {
  color: var(--red-pink);
}

.div-card-2-6 a:active .card-6__title {
  color: var(--red-pink);
}

/* section-hit */

.section-hit {
  padding: 80px 0;
  background-color: var(--white-pink);
}

.red-title {
  margin: 0 0 0px;
  font-family: var(--P);
  font-size: 48px;
  font-weight: 700;
  color: var(--black);
}

.red-title-span {
  color: var(--red-pink);
}

.title-hit__descr {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-white3);
}

.title-hit__all-hit {
  align-self: self-end;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  outline: 1px solid var(--invis);
  outline-offset: 3px;
  color: var(--red-pink);
  transition: outline 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.title-hit__all-hit:focus {
  outline-color: var(--red-pink);
}

.title-hit__all-hit:hover {
  color: var(--red-pink3);
}

.title-hit__all-hit:active {
  outline: none;
  color: var(--red-pink2);
}

.title-hit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.section-hit__list-hit {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card-hit__img {
  margin: 0;
  height: 100%;
  border-radius: 8px;
}

.div-price__price {
  margin: 0 0 1px;
  padding-top: 4px;
  font-size: 20px;
  font-weight: 900;
  color: var(--black-gray4);
}

.div-price__old-price {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--gray-white3);
}

.div-price__btn {
  margin: 0;
  padding: 10px;
  border-radius: 31px;
  border: 1px solid var(--red-pink);
  outline: none;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--red-pink);
  background-color: inherit;
  cursor: pointer;
  transition: color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

.div-price__btn:focus {
  color: var(--white);
  background-color: var(--red-pink);
}

.div-price__btn:hover {
  color: var(--white);
  background-color: var(--red-pink);
}

.div-price__btn:active {
  color: var(--white);
  background-color: var(--red-pink3);
}

.div-price {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;
}

.card-hit__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-gray4);
  word-break: break-word;
}

.img-div-hit {
  margin: 0 0 16px;
  width: 100%;
  max-width: 100%;
  max-height: 372px;
  object-fit: cover;
}

.card-hit a {
  display: inline-block;
  line-height: 0;
}

/* discount-wrap */

.section-discount {
  padding: 90px 50px;
  background-image: url(../img/bg-section-2.png);
}

.discount-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0;
  max-width: 1280px;
  border-radius: 13px;
  background-color: var(--pink);
  overflow: hidden;
}

.discount-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 215px;
  background-image: url(../img/bg-discount-left.png);
  background-repeat: no-repeat;
  z-index: 1;
}

.discount-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 373px;
  background-image: url(../img/bg-discount-right.png);
  background-repeat: no-repeat;
  z-index: 1;
}

.discount-wrap__title {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 32px;
  color: var(--black);
}

.discount-wrap__title-span {
  font-weight: 700;
  color: var(--red-pink);
}

.discount-wrap__input {
  min-width: 420px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid var(--black-gray5);
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  background-color: var(--white);
}

.discount-wrap__from {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 0 15px;
  z-index: 2;
}

.discount-wrap__btn {
  padding: 13px 26.5px;
}

.discount-wrap__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--black-gray4);
}

/* SLIDER */

.section-slider {
  padding: 60px 0;
  background-color: var(--white-pink);
}

.slider__page {
  display: flex;
  gap: 78px;
  padding: 35px 0 0 24px;
  min-width: 1280px;
}

.slider__title {
  margin: 0 0 11px;
  font-family: var(--P);
  font-weight: 700;
  font-size: 48px;
  color: var(--black-gray);
}

.slider__title-descr {
  margin: 0 0 71px;
  font-weight: 700;
  font-size: 16px;
  color: var(--black-gray);
}

.slider__text {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black-gray);
}

.slider__price-block {
  display: flex;
  gap: 18px;
  margin: 0 0 41px;
}

.slider__price {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  color: var(--red-pink);
}

.slider__old-price {
  margin: 0;
  padding: 15px 0 0;
  font-size: 20px;
  font-weight: 400;
  text-decoration: line-through;
  color: var(--gray-white);
}

.slider__btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 15.5px 32.5px 15.5px 28px;
  max-width: 93px;
  border-radius: 80px;
  border: 1px solid var(--invis);
  outline: 1px solid var(--invis);
  color: var(--white);
  background-color: var(--red-pink);
  cursor: pointer;
  fill: var(--white);
  transition: fill 0.2s ease-in-out,
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    outline 0.2s ease-in-out;
}

.slider__btn-svg {
  fill: inherit;
}

.slider__btn:focus {
  color: var(--red-pink);
  background-color: var(--white);
  fill: var(--red-pink);
  outline-color: var(--red-pink);
}

.slider__btn:hover {
  color: var(--red-pink);
  background-color: var(--white);
  fill: var(--red-pink);
  outline-color: var(--red-pink);
}

.slider__btn:active {
  color: var(--red-pink3);
  background-color: var(--white);
  fill: var(--red-pink3);
  outline-color: var(--red-pink3);
}

.slider__block {
  align-self: self-end;
  max-width: 513px;
}

.itc-slider-btn {
  display: inline-flex;
  height: 47px;
  width: 47px;
  outline: 1px solid var(--invis);
  cursor: pointer;
  fill: var(--red-pink);
  stroke-width: 1;
  transition: fill 0.1s ease-in-out,
    outline 0.1s ease-in-out;
}

.itc-slider-btn:focus {
  outline: none;
}

.itc-slider-btn:hover {
  fill: var(--red-pink4);
}

.itc-slider-btn:active {
  outline: none;
  fill: var(--pink);
}

.section-slider__title-descr {
  margin: 0 0 40px;
}

/* map */

.footer {
  padding-top: 136px;
}

.footer__title {
  margin: 0;
}

.footer__map-div {
  width: 100%;
}

.map {
  position: absolute;
  left: calc((100% - 1280px) / 2);
  right: 0;
  margin: 0;
  width: 100%;
  max-width: calc(100% - ((100% - 1280px) / 2));
  height: 100%;
  border: none;
  border-radius: 16px;
  z-index: 1;
}

.map-div {
  position: relative;
  /* margin: 0 0 0 calc((100% - 1380px) / 2); */
  /* padding: 0 50px; */
  /* width: calc(100% - ((100% - 1380px) / 2))); */
  height: 474px;
  overflow: hidden;
  border-radius: 16px;
}

.footer__container {
  position: relative;
}

.map__container {
  position: relative;
  margin: 0 auto 60px;
  padding: 0 50px;
  max-width: 1380px;
}

.adress {
  position: absolute;
  right: calc((100% - 1280px) / 2);
  bottom: -136px;
  right: 50px;
  bottom: -655px;
  width: 354px;
  background-color: var(--white);
  z-index: 180;
}

.adress__title {
  position: relative;
  margin: 0 0 32px;
  font-family: var(--P);
  font-size: 24px;
  font-weight: 700;
  color: var(--black-gray);
  z-index: 200;
}

.adress__img {
  margin: 0 0 48px;
  border-radius: 8px;
}

.adress__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 0 46px;
  padding: 0;
  list-style: none;
  z-index: 200;
}

.adress__descr {
  position: relative;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-white);
  z-index: 200;
}

.adress__adress {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-gray);
  z-index: 200;
}

.adress__telephone {
  position: relative;
  display: inline-block;
  margin: 0 0 21px;
  outline: 1px solid var(--invis);
  font-size: 24px;
  font-weight: 700;
  color: var(--black-gray);
  transition: outline 0.2s ease-in-out,
    color 0.2s ease-in;
  z-index: 200;
}

.adress__telephone:focus {
  outline-color: var(--red-pink);
}

.adress__telephone:hover {
  color: var(--red-pink);
}

.adress__telephone:active {
  outline-color: var(--invis);
  color: var(--red-pink3);
}

.adress__email {
  position: relative;
  display: inline-block;
  margin: 0 0 50px;
  outline: 1px solid var(--invis);
  font-size: 24px;
  font-weight: 700;
  color: var(--black-gray);
  transition: outline 0.2s ease-in-out,
    color 0.2s ease-in;
  z-index: 200;
}

.adress__email:focus {
  outline-color: var(--red-pink);
}

.adress__email:hover {
  color: var(--red-pink);
}

.adress__email:active {
  outline-color: var(--invis);
  color: var(--red-pink3);
}

.adress__links {
  position: relative;
  display: flex;
  gap: 12px;
  z-index: 200;
}

.adress__link {
  position: relative;
  outline: none;
  fill: var(--red-pink);
  transition: fill 0.2s ease-in-out;
  z-index: 200;
}

.adress__link:focus {
  fill: var(--red-pink2);
}

.adress__link:hover {
  fill: var(--red-pink2);
}

.adress__link:active {
  fill: var(--red-pink4);
}

.adress {
  margin: 0;
  padding: 32px;
  max-height: 720px;
  border: 1px solid var(--white-gray3);
  z-index: 200;
}

.main__section-map {
  padding-top: 50px;
}

/* footer */
.footer__author {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-right: 54px;
  font-size: 14px;
  font-weight: 400;
  color: var(--red-pink);
}

.footer__author::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  width: 45px;
  height: 19px;
  background-image: url(../img/logoIsArt.svg);
  transform: translateY(-50%);
}

.footer__copyrate {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-white);
  text-align: center;
}

/* slider swiper */
.swiper {
  position: static;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 100%;
  height: 100%;
  max-width: 1165px;

}

.swiper-slide {
  display: flex;
  gap: 78px;
  width: 100%;
  max-width: 1165px;
}

.slider-img-div {
  padding: 20px 0 0 22px;
  width: calc((100% - 78px) / 2);
  height: 100%;
  max-width: 553px;
  max-height: 619px;
  object-fit: cover;
}

.slider__image {
  border-radius: 9px;
  box-shadow: -22px -20px 0px 0px var(--pink3);
}

.slider__text-block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 70px;
  width: calc((100% - 78px) / 2);
  max-width: 513px;
}

.swiper-div {
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  max-width: 1380px;
  height: 100%;
  min-height: 640px;
}

.swiper-div-hiden {
  position: absolute;
  top: 0;
  left: 50px;
  right: calc(50px - 10%);
  bottom: 0;
  overflow: hidden;
}

.swiper-button-next::after {
  content: '';
}

.swiper-button-prev::after {
  content: '';
}

.swiper-pagination {
  position: static;
  display: inline-block;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: var(--white-gray2);
  z-index: 1;
}

/* .slider__num-page {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: var(--white-gray2);
} */

.swiper-pagination-current {
  margin: 0;
  font-size: 34px;
  color: var(--black-gray);
}


/* .slider__num {
  margin: 0;
  font-size: 34px;
  color: var(--black-gray);
} */

.move-block {
  position: absolute;
  bottom: 5px;
  left: 693px;
  display: flex;
  align-items: center;
  height: 47px;
  width: 490px;
}

.swiper-container {
  position: relative;
  overflow: hidden;
  margin: 0 0 0 calc((100% - 1380px) / 2);
  padding: 0 50px;
  width: 100%;
  height: 100%;
  max-height: 620px;
  max-width: calc((100% + 1380px) / 2);
}

.swiper-text {
  margin: 0;
  font-size: 180px;
  line-height: normal;
}

.swiper-hiden-div {
  width: 1500px;
  background-color: #000;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin: 0;
}

/* burger menu */
#menu {
  display: none;
  z-index: 3;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 0;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav2 {
  transition: 0.3s ease;
  display: none;
}

.nav2 ul {
  padding: 0;
}

.nav2 li {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.nav2 li:last-child {
  margin-bottom: 0;
}

.nav2 li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav2 li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 50px;
  left: 12px;
  position: absolute;
}

.menu-bg {
  display: none;
  z-index: 2;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background-color: var(--red-pink);
  outline: 2px solid var(--red-pink4);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  display: block;
  width: 474px;
  height: 437px;
  transform: translate(-60%, -27%);
}

/* breadcrumb */


.breadcrumb {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumb__item:not(:first-child) {
  padding-left: 4px;
}

.breadcrumb__item:not(:last-child)::after {
  content: '/';
  font-family: var(--P);
  font-size: 18px;
  font-weight: 700;
  color: var(--white-gray4);
}

.breadcrumb__link {
  font-family: var(--P);
  font-size: 18px;
  font-weight: 700;
  color: var(--white-gray4);
}

.breadcrumb__link-red {
  color: var(--red-pink);
}

.delivery__text {
  margin: 0 auto;
  max-width: 904px;
  font-size: 16px;
  font-weight: 400;
  color: #1f1f1f;
}

.delivery__container {
  text-align: center;
  padding-bottom: 170px;
}

.delivery__h1 {
  margin-bottom: 20px;
}

.delivery__text-link {
  text-decoration: underline;
  color: #1f1f1f;
}

.red-bg {
  background-color: var(--red-pink);
}

.delivery__descr {
  margin: 0;
  padding: 95px 0 165px 0;
  max-width: 580px;
  text-align: left;
  font-family: var(--P);
  font-weight: 700;
  font-size: 48px;
  color: var(--white);
}

.delivery__img {
  width: 100%;
  height: 100%;
}

.delivery__img-wrapper {
  position: absolute;
  right: 0px;
  bottom: 0;
  max-width: 640px;
  width: calc(100% - 600px);
  object-fit: cover;
}

.delivery__container-red {
  position: relative;
  padding-bottom: 0;
}
