 /* * @tutorial https://itchief.ru/javascript/slider */


.itc-slider {
  margin: 0 auto;
  max-width: 1279px;
}

.itc-slider-wrapper {
  overflow: hidden;
}

.itc-slider-items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.itc-slider-transition-none {
  transition: none;
}

.itc-slider-item {
  flex: 0 0 100%;
  max-width: 100%;
  will-change: transform;
}
